
.figura-rica-container {
    padding: 30px 20px;
    background-color: #141414; 
    color: #ffffff;
    border-radius: 0;
    margin: 0; 
    max-width: 100%; 
    width: 100%; 

   
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 1s ease-out, transform 1s ease-out; 
}

.figura-rica-container.revealed {
    opacity: 1; 
    transform: translateY(0); 
}


.section-title {
    text-align: center;
    color: #FFC72C; 
    margin-bottom: 25px;
    font-size: 2em;
}

.figura-rica-wrapper {
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #333333;
    padding: 15px;
    border-radius: 6px;
    background-color: #212121;
    max-width: 1100px; 
    margin: 0 auto 40px auto; 
}

.figura-rica-image {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #004A77, rgba(255, 255, 255, 0));
    margin: 40px 0;
}

.definicion-raiz-block {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.8;
    color: #e0e0e0; 
    padding: 20px;
    border-left: 5px solid #004A77; 
    background-color: #2b2b2b; 
    margin: 20px auto; 
    max-width: 1100px; 
    border-radius: 4px;
}

.definicion-nota {
    font-size: 0.9em;
    color: #a0a0a0;
    text-align: right;
    margin-top: 15px;
    max-width: 1100px; 
    margin-left: auto;
    margin-right: auto;
}