
.react-flow__node {
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diagrama-contenedor-principal { 
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #141414; 
}

.scroll-animate {
    
    opacity: 0; 
    transform: translateY(50px); 

    transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
}

.scroll-animate.visible {

    opacity: 1;
    transform: translateY(0);
}


.diagrama-titulo {
    text-align: center;
    color: #FFC72C; 
      margin-top: 10px;
      margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #004A77; 
    font-size: 28px;
    font-weight: bold;
    background-color: #141414; 
}


.react-flow__node[data-nodeid="1"] {
  background-color: #FFC72C; 
  color: #004A77; 
  border-radius: 50%;
  width: 250px;
  height: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #004A77; 
}


.react-flow__node {
  background-color: #004A77; 
  color: white; 
  border-radius: 50%; 
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.react-flow__edge {
  stroke: #FFC72C;
  stroke-width: 2px;
  transition: all 0.3s ease;
}

.react-flow__edge.animated {
  stroke-dasharray: 5, 5; 
}


.react-flow__minimap {
  background-color: #1A1A1A; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.react-flow__minimap-node {
  border-radius: 50%;
}

.react-flow__controls {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.react-flow__background {
  background-color: #1A1A1A;
}

.reactflow-wrapper { 
    width: 100%;
    height: 500px; 
    
    background-color: #141414; 
    background-image: radial-gradient(
        circle, 
        rgba(255, 255, 255, 0.04) 1.5px, 
        transparent 1px, 
        transparent 10px 
    );
}